<div class="my-container" >
  <div class="container" id="carddraw">
    <p>How many cards will you draw?</p>
    <input type="number" placeholder="Number of Cards" [(ngModel)]="this.numberOfCards">
  </div>
    <div *ngIf="this.numberOfCards < 41" >
      <img class="drawCards" id="koi" src="src/assets/characters/koifish.png" (click)="drawCards()">
        <div id="deckgrid" class="container">
          <div class="grid-row">
            <div *ngFor="let card of cardDraw">
              <img src={{card.imageUrl}} id="cardImage" alt="card-image">
            </div>
          </div>
       </div>
</div>