.my-container{
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carddraw{
    padding-top: 30px;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drawCards{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%
}

#cardImage{
    width: 200px;
    border-radius: 5px;
}

#koi{
    height: 300px;
}

#koi:hover{
    position:relative; top: -5px;
    box-shadow: 0px 0px 5px skyblue;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}