<div id="healthdeckDisplay" class="container">
    <div class="grid-row">
      <div *ngFor="let card of this.cards">
        <img src={{card.imageUrl}} id="cardImage" alt="card-image" (click)="this.card = changeCard(this.card)">
      </div>
    </div>
  </div>

  <div class="add-card-buttons">
    <div class="grid-row">
      <div id="body-buttons">
        <button class="addCard" (click)="addCard(bodyCard)">
          <p>+ BODY CARD</p></button>
        <button class="addCard" (click)="removeCard(bodyCard)">
          <p>- BODY CARD</p></button>
      </div>
      <div id="mind-buttons">
        <button class="addCard" (click)="addCard(mindCard)">
          <p>+ MIND CARD</p></button>
        <button class="addCard" (click)="removeCard(mindCard)">
          <p>- MIND CARD</p></button>
      </div>
      <div id="face-buttons">
        <button class="addCard" (click)="addCard(faceCard)">
          <p>+ FACE CARD</p></button>
        <button class="addCard" (click)="removeCard(faceCard)">
          <p>- FACE CARD</p></button>
      </div>
      <div id="bronze-button">
        <button class="addCard" (click)="addCard(bronzeCard)">
        <p>+ BRONZE CARD</p></button>
        <button class="addCard" (click)="removeCard(bronzeCard)">
          <p>- BRONZE CARD</p></button>
      </div>
    </div>
  </div>