<div id="healthdeckDisplay" class="container">
    <div class="grid-row">
      <div *ngFor="let card of this.healthDeck">
        <img src={{card.imageUrl}} id="cardImage" alt="card-image" (click)="removeCard(this.card)">
      </div>
    </div>
  </div>

  <div class="add-card-buttons">
    <div class="grid-row">
      <button class="addCard" (click)="addCard(bodyCard)">
        <p>ADD BODY CARD</p></button>
      <button class="addCard" (click)="addCard(mindCard)">
        <p>ADD MIND CARD</p></button>
      <button class="addCard" (click)="addCard(faceCard)">
        <p>ADD FACE CARD</p></button>
      <button class="addCard" (click)="addCard(bronzeSuccessCard)">
        <p>ADD BRONZE CARD</p></button>
    </div>
  </div>