<div id="health-deck-explanation">
  <h1>HEALTH DECK</h1>
<p>Clicking on the buttons below will add or subtract cards from your Health Deck.</p>

<p>When you need to convert a card from one type to another, click on the cards themselves to cycle through the card types.</p>

</div>

<div id="healthdeckDisplay" class="container">
    <div class="grid-row">
      <div id="deck" *ngFor="let card of this.cards; let i = index">
        <img src={{card.imageUrl}} id="cardImage" alt="card-image" (click)="changeCard(this.card, i)">
      </div>
    </div>
  </div>

  <div class="add-card-buttons">
    <div class="grid-row">
      <div id="body-buttons">
        <button class="addCard" (click)="addCard(this.bodyCard)">
          <p>+ BODY CARD</p></button>
        <button class="addCard" (click)="removeCard(this.bodyCard)">
          <p>- BODY CARD</p></button>
      </div>
      <div id="mind-buttons">
        <button class="addCard" (click)="addCard(this.mindCard)">
          <p>+ MIND CARD</p></button>
        <button class="addCard" (click)="removeCard(this.mindCard)">
          <p>- MIND CARD</p></button>
      </div>
      <div id="face-buttons">
        <button class="addCard" (click)="addCard(this.faceCard)">
          <p>+ FACE CARD</p></button>
        <button class="addCard" (click)="removeCard(this.faceCard)">
          <p>- FACE CARD</p></button>
      </div>
      <div id="bronze-button">
        <button class="addCard" (click)="addCard(this.bronzeCard)">
        <p>+ BRONZE CARD</p></button>
        <button class="addCard" (click)="removeCard(this.bronzeCard)">
          <p>- BRONZE CARD</p></button>
      </div>
    </div>
  </div>