#village{
    height: 33%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/rond556/Angular-FoolsGoldFrontEnd/blob/master/src/assets/backgrounds/mountainvillage.jpg?raw=true");
    background-position: center;
    background-size: cover;
}

#shopkeep{
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    filter: brightness(50%);
    border: whitesmoke;
    border-style: solid;
    border-radius: 5px;    
}

#skillpointcounter{
    font-family: fantasy;
    color:whitesmoke;
}

#skillpointsremain{
    font-size: x-large;
}

#skillnumber{
    font-size: x-large;
    margin-left: 30px;
}


#cardImage{
    width: 200px;
    border-radius: 5px;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}