<div class="container" id="village">
  <img id="shopkeep" src="https://github.com/rond556/Angular-FoolsGoldFrontEnd/blob/master/src/assets/characters/nopperabou.png?raw=true">
</div>
<div class="container" id="buttons">

<div class="container" id="pointcounter">
  <div id="skillpoints">
    <p id="skillpointsremain">Skill Points Remaining</p>
    <p id="skillnumber">{{this.skillPoints}}</p>
  </div>
  <div id="remainingcards">
    <p id="cardsremaining">Cards Remaining</p>
    <p id="cardsnumber">{{15 - this.purchasedCards.length}}</p>
  </div>
  <div id="koifish" *ngIf="purchasedCards.length < 16">
    <a routerLink="/deckdisplay" (click)="createFullDeck()" routerLinkActive="active">
    <p>Purchase Deck</p>
    </a>
  </div>
</div>



<div class="containers">
<img class="addCard" src="{{this.coins[0].getImageURL()}}" (click)="addCard(bodyCard)">
<img class="addCard" src="{{this.coins[1].getImageURL()}}" (click)="addCard(mindCard)">
<img class="addCard" src="{{this.coins[2].getImageURL()}}" (click)="addCard(faceCard)">
<img class="addCard" src="{{this.coins[3].getImageURL()}}" (click)="addCard(bodyFaceCard)">
<img class="addCard" src="{{this.coins[4].getImageURL()}}" (click)="addCard(bodyMindCard)">
<img class="addCard" src="{{this.coins[5].getImageURL()}}" (click)="addCard(mindFaceCard)">
<img class="addCard" src="{{this.coins[6].getImageURL()}}" (click)="addCard(bodyMindFaceCard)">
<img class="addCard" src="{{this.coins[7].getImageURL()}}" (click)="addCard(partialSuccessCard)">
<img class="addCard" src="{{this.coins[8].getImageURL()}}" (click)="addCard(bronzeSuccessCard)">
<img class="addCard" src="{{this.coins[9].getImageURL()}}" (click)="addCard(silverSuccessCard)">
<img class="addCard" src="{{this.coins[10].getImageURL()}}" (click)="addCard(failureCard)">
<img *ngIf="level >= 5" class="addCard" src="{{this.coins[11].getImageURL()}}" (click)="addCard(bodyCard)">
  </div>
</div>

<div id="deckDisplay" class="container">
    <div class="grid-row">
      <div *ngFor="let card of purchasedCards">
        <img src={{card.imageUrl}} id="cardImage" alt="card-image" (click)="removeCard(this.card)">
  </div>

  