<div id="my-container">
  <h1>FOOL'S GOLD CHARACTER DECK BUILDER</h1>
    <img id="skeleton" src="https://github.com/rond556/Angular-FoolsGoldFrontEnd/blob/ron/src/assets/skeleton.jpg?raw=true">

  
<div class="container" id="deck-builder-description">
  <h2>Build your Character Deck</h2>
    <p>In many RPGs players interact with the game by rolling dice to decide the outcome of their characters’ actions. In Fool’s Gold instead of dice you use a deck of custom cards called the Character Deck. This deck is more than just a randomiser to determine success or failure; it is a way to visually represent your character’s strengths and weaknesses. You can use XP to upgrade or get new skills or you can upgrade your Character Deck by swapping in and out different kinds of cards.</p>
    <p>To make a first level character deck you get 32 points to buy cards. Before spending any points to buy cards a first level character deck starts with the following cards:</p>
    <ul id="pre-con-deck">
      <li>3  Basic <span style="color: blue">Mind</span> Cards</li>
      <li>3  Basic <span style="color: red">Body</span> Cards</li>
      <li>3  Basic <span style="color: green">Face</span> Cards</li>
      <li>3  Failure Cards</li>
      <li>2  Partial Success Cards</li>
      <li>10  Bronze Success Cards</li>
      <li>1  Silver Success Card</li></ul>
    <p>To these initial 25 cards you must add an extra 15 cards so that your Character Deck has 40 cards.</p>

  <p>Your deck can’t have more than 40 cards except in special situations such as when the GM gives you Boons and Curses. See page ? for more details.</p>
  <p>The  card types, their cost, and the cap (the limit to how many you can first add to your deck) are listed below:</p>

  <table id="card-type-table" style="width:33%">
    <tr>
      <th>Card Type</th>
      <th>Point Cost</th>
      <th>Cap</th>
    </tr>
    <tr>
      <td>Basic Attribute</td>
      <td>2 points</td>
      <td>8 cards of any type, 24 in total</td>
    </tr>
    <tr>
      <td>Dual Attribute</td>
      <td>4 points</td>
      <td>4 cards of any type, 6 in total</td>
    </tr>
    <tr>
      <td>Triple Attribute</td>
      <td>6 points</td>
      <td>2 cards in total</td>
    </tr>
    <tr>
      <td>Partial Success</td>
      <td>0 points</td>
      <td>8 cards in total</td>
    </tr>
    <tr>
      <td>Bronze Success</td>
      <td>2 points</td>
      <td>16 cards in total</td>
    </tr>
    <tr>
      <td>Silver Success</td>
      <td>4 points</td>
      <td>3 cards in total</td>
    </tr>
    <tr>
      <td>Gold Success*</td>
      <td>8 points</td>
      <td>1 card in total</td>
    </tr>
    <tr>
      <td>Failure</td>
      <td>0 points</td>
      <td>6 cards in total</td>
    </tr>
  </table>


  <p>*Gold Success cards are not available during character creation and can only be bought by using XP with the exception being one shot games when the GM and players want to do a high powered game with very strong characters.</p>
</div>

<div>
<h2 id="deck-instructions">Click on the buttons below to add 15 cards to your Character Deck.</h2>
  <h3 id="skillpointsremain">Skill Points Remaining: {{this.skillPoints}}</h3>
  <h3 id="cardsremaining">Cards Remaining: {{15 - this.purchasedCards.length}}</h3><br/>
</div>



<div class="float-container">
  
  <div class="float-child-left">
    <div class="addCard" (click)="addCard(bodyCard)">
      <p>BODY - 2 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(mindCard)">
      <p>MIND - 2 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(faceCard)">
      <p>FACE - 2 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(bodyMindCard)">
      <p>BODY / MIND - 4 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(bodyFaceCard)">
      <p>BODY / FACE - 4 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(mindFaceCard)">
      <p>FACE / MIND - 4 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(bodyMindFaceCard)">
      <p>MIND / BODY / FACE - 6 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(partialSuccessCard)">
      <p>PARTIAL SUCCESS - 0 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(bronzeSuccessCard)">
      <p>BRONZE SUCCESS - 2 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(silverSuccessCard)">
      <p>SILVER SUCCESS - 4 POINTS</p></div><br/>
    <div class="addCard" (click)="addCard(failureCard)">
      <p>FAILURE - 0 POINTS</p></div><br/>
</div>

<div class="float-child-right">
  <div id="deckDisplay" class="container">
    <div class="grid-row">
      <div *ngFor="let card of purchasedCards">
        <img src={{card.imageUrl}} id="cardImage" alt="card-image" (click)="removeCard(this.card)">
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="this.purchasedCards.length == 15" id="deck-purchase">
  <h2>PURCHASE THIS DECK</h2>
</div>
  
</div>