#my-container{
    width: 90%;
    height: 100%;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
}

#skeleton{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
    margin-top: 25px;
    color:#8d7824 ;
    font-weight: 500;
}

h2{
    font-weight: normal;
    font-size: 36px;
}

#deck-builder-description{
    width: 95%;
    font-family: "Droid Sans";
    color: gray;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0px;
    font-weight: normal;
    margin-left: 5%;
    margin-right: 5%;
}

#deck-builder-description{
    font-weight: 300;
}

#pre-con-deck{
    font-weight: 700;
}

#card-type-table{
    margin-left: 5%;
    border-collapse: collapse;
}

#card-type-table tr, #card-type-table th{
    padding: 8px;
}

#deck-instructions{
    text-align: center;
}

#pointcounter{
    display: block;
    font-family: fantasy;
    color:black;
    font-size: x-large;
    float:right;
}

#skillnumber{
    margin-left: 30px;
}

#cardsnumber{
    margin-left: 30px;
}


#cardImage{
    width: 200px;
    border-radius: 5px;
}

.addCard{
    display: inline-block !important;
    background: #f4f0eb !important;
    min-width: 10px !important;
    min-height: 10px !important;
    height: auto !important;
    padding: 2;
    margin: 0 !important;
    line-height: 1 !important;
    font-size: inherit !important;
    color: inherit !important;
    font-weight: 400 !important;
}

.addCard:hover{
    position:relative; top: -5px;
    box-shadow: 0px 0px 5px yellow;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}