#shopkeep{
    width: 33%;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border:whitesmoke;
    border-style: solid;
    border-radius: 10px;
}

#cardImage{
    width: 200px;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}